{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "mocha": true
  },
  "rules": {
    "import/prefer-default-export": 0,
      "object-curly-newline": ["error", {
          "ObjectPattern": { "multiline": true },
          "ExportDeclaration": { "multiline": true, "minProperties": 3 }
      }]
  }

}
